<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Admin Home</h1>

<a href="/admin/ride">
    <button>Create ride</button>
</a>
<br>
<a href="/admin/edit-clients">
    <button>Edit clients</button>
</a>
<br>
<a href="/admin/edit-drivers">
    <button>Edit drivers</button>
</a>
<br>
<a href="/admin/create-admin">
    <button>Create admin</button>
</a>
<br>
<a href="/logout">
    <button>Logout</button>
</a>

</body>
</html>