<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Driver</title>
    <link rel="stylesheet" type="text/css" th:href="@{/home.css}"/>
    <link rel="shortcut icon" th:href="@{/img/Buber_ico.ico}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="~{admin_header :: head}"></div>


<section class="taxi-background" style="padding-bottom: 5%;">
    <div class="container">
        <div class="row">
            <h1 class="big-font">Информация о водителе</h1><br><br>
        </div>
        <div class="row">
            <h2 class="big-font middle-left">Логин : <span th:text="${driver.login}"></span></h2>
            <h2 class="big-font  middle-left">Номер телефона : <span th:text="${driver.phoneNumber}"></span></h2>
            <br>
            <h2 class="big-font middle-left">Номер автомобиля : <span th:text="${driver.vehicle.number}"></span></h2>
            <br>
            <h2 class="big-font middle-left">Сумма выполненных заказов : <span
                    th:text="${revenue}"></span></h2>
            <br>
            <form th:action="@{/admin/edit-drivers/{driver_id}(driver_id=${driver.id})}" method="post">
                <p>Статус :
                    <select class="form-select" name="status" id="status">
                        <option value="ACTIVE" selected>Активен</option>
                        <option value="BANNED">Забанен</option>
                    </select>
                </p>
                <br>
                <button type="submit" class="btn btn-primary">Подтвердить!</button>
            </form>
        </div>

    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>


<div th:insert="~{footer :: foot}"></div>
</body>
</html>