<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Client Home</h2>

<a href="/client/available-rides">
    <button>Show all available rides</button>
</a>
<br>
<a href="/client/orders">
    <button>Show my orders</button>
</a>
<br>
<a href="/client/edit-phone">
    <button>Edit phone number</button>
</a>
<br>

<a href="/client/orders-delete">
    <button>Cancel order</button>
</a>
<br>
<a href="/logout">
    <button>Logout</button>
</a>


</body>
</html>