<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Ride</title>
        <link rel="stylesheet" type="text/css" th:href="@{/home.css}"/>
        <link rel="shortcut icon" th:href="@{/img/Buber_ico.ico}"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
              crossorigin="anonymous">

    </head>
<body>

<div th:insert="~{client_header :: head}"></div>

<section class="taxi-background" style="padding-bottom: 5%;">
    <div class="container">
        <div class="row">
            <h1 class="big-font">Сделайте заказ!</h1><br><br>
        </div>
        <div class="row">
            <h2 class="big-font middle-left">Откуда : <span th:text="${ride.startLocation}"></span></h2>
            <h2 class="big-font  middle-left">Куда : <span th:text="${ride.endLocation}"></span></h2>
            <br>
            <h2 class="big-font middle-left">Начало поездки : <span th:text="${ride.startDate}"></span></h2>
            <br>
            <h2 class="big-font middle-left">Конец поездки : <span th:text="${ride.endDate}"></span></h2>
            <br>
            <h2 class="big-font middle-left">Цена : <span th:text="${ride.price}"></span>р.</h2>
            <br>
            <h2 class="big-font middle-left">Свободные места : <span th:text="${ride.landingSides}"></span></h2>
            <br>
            <h2 class="big-font middle-left">Номер телефона водителя : <span
                    th:text="${ride.driverByDriverId.phoneNumber}"></span></h2>
            <br>
            <h2 class="big-font middle-left">Модель авто : <span
                    th:text="${ride.driverByDriverId.vehicle.model}"></span></h2>
            <br>
            <h2 class="big-font middle-left">Номер авто : <span
                    th:text="${ride.driverByDriverId.vehicle.number}"></span></h2>
            <br>

            <form th:action="@{/client/available-rides/{rideId}(rideId=${ride.id})}" method="post">
                <p>Количество мест
                    <select class="form-select" name="sites" id="sites">
                        <option value="1" selected>Одно</option>
                        <option value="2">Два</option>
                        <option value="3">Три</option>
                    </select>
                </p>
                <br>
                <p>Способ оплаты :
                    <select class="form-select" name="payment_type" id="payment_type">
                        <option value="CASH" selected>Наличные</option>
                        <option value="BANK_CARD">Банковская карта</option>
                    </select>
                </p>
                <br>
                <button type="submit" class="btn btn-primary">Заказать!</button>
            </form>
        </div>

    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>


<div th:insert="~{footer :: foot}"></div>
</body>
</html>