<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
<body>
<h1>Ride : </h1>
<p>Start location </p>
<p th:text="${ride.startLocation}"></p>
<p>End location</p>
<p th:text="${ride.endLocation}"></p>
<p>Start date</p>
<p th:text="${ride.startDate}"></p>
<p>End date</p>
<p th:text="${ride.endDate}"></p>
<p>Price</p>
<p th:text="${ride.price}"></p>
<p>Landing sites</p>
<p th:text="${ride.landingSides}"></p>
<p>Driver phone number</p>
<p th:text="${ride.driverByDriverId.phoneNumber}"></p>
<p>Vehicle type</p>
<p th:text="${ride.driverByDriverId.vehicle.type}"></p>
<p>Vehicle model</p>
<p th:text="${ride.driverByDriverId.vehicle.model}"></p>
<p>Vehicle number</p>
<p th:text="${ride.driverByDriverId.vehicle.number}"></p>
<form th:action="@{/client/available-rides/{rideId}(rideId=${ride.id})}" method="post">
    <p>Enter count of sites</p>
    <select name="sites" id="sites">
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>

    <p>Enter payment type : </p>
    <select name="payment_type" id="payment_type">
        <option value="CASH" selected>Cash</option>
        <option value="BANK_CARD">Bank card</option>
    </select>
    <button type="submit">Order!</button>
</form>
</body>
</html>