<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Ride : </h1>
<p>Start location </p><p th:text="${ride.startLocation}"></p>
<p>End location</p><p th:text="${ride.endLocation}"></p>
<p>Start date</p><p th:text="${ride.startDate}"></p>
<p>End date</p><p th:text="${ride.endDate}"></p>
<p>Price</p><p th:text="${ride.price}"></p>
<p>Landing sites</p><p th:text="${ride.landingSides}"></p>

<h3>Clients info : </h3>
<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone number</th>
        <th>Bonus</th>
        <th>Payment type</th>
        <th>Result of order</th>
    </tr>
    <tr th:each="order : ${orders}">
        <td th:text="${order.client.name}"></td>
        <td th:text="${order.client.surname}"></td>
        <td th:text="${order.client.phoneNumber}"></td>
        <td th:text="${order.client.bonus}"></td>
        <td th:text="${order.payment.type}"></td>
        <td>
            <form th:action="@{/driver/rides/order-status}" method="post">
                <select name="result" id="result">
                    <option value="CAME" selected>Came</option>
                    <option value="DID_NOT_COME">Did not came</option>
                    <option value="UNDEFINED">Undefined</option>
                </select>
                <input hidden th:name="order_id" th:value="${order.id}">
                <button type="submit">Submit</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>