<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Driver</title>
    <link rel="stylesheet" type="text/css" th:href="@{/home.css}"/>
    <link rel="shortcut icon" th:href="@{/img/Buber_ico.ico}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
<div th:insert="~{driver_header :: head}"></div>

<section class="taxi-background" style="padding-bottom: 5%;">
    <div class="container">
        <div class="row">
            <h1 class="big-font">Добро пожаловать , <span th:text="${session.driver.login}"></span></h1><br><br>
        </div>
        <div class="row">
            <h2 class="big-font middle-left">Ваш статус : <span th:text="${session.driver.status}"></span></h2>
            <br>
            <h2 class="big-font middle-left">Ваш номер телефона : <span th:text="${session.driver.phoneNumber}"></span>
            </h2>
            <br>
            <h2 class="big-font middle-left">Тип вашего авто : <span th:text="${session.driver.vehicle.type}"></span>
            </h2>
            <br>
            <h2 class="big-font middle-left">Марка вашего авто : <span th:text="${session.driver.vehicle.model}"></span>
            </h2>
            <br>
            <h2 class="big-font middle-left">Номер вашего авто : <span
                    th:text="${session.driver.vehicle.number}"></span>
            </h2>
            <br>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center" style="padding-left: 34%; margin-bottom: 5%;">
            <div class="col-8">
                <a href="/driver/rides">
                    <button style="width: 35%; height: 130%;" type="button" class="btn btn-secondary">Ближайшие поездки
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-around" style="padding-left: 12%;">
            <div class="col-4">
                <a href="/driver/all-rides">
                    <button style="width: 75%; height: 120%;" type="button" class="btn btn-secondary">Все поездки
                    </button>
                </a>
            </div>
            <div class="col-4">
                <a href="/driver/edit-phone">
                    <button style="width: 75%; height: 120%;" type="button" class="btn btn-secondary">Изменить номер
                        телефона
                    </button>
                </a>
            </div>
            <div class="col-4">
                <a href="/driver/edit-vehicle">
                    <button style="width: 75%; height: 120%;" type="button" class="btn btn-secondary">Изменить
                        информацию об авто
                    </button>
                </a>
            </div>

        </div>
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>


<div th:insert="~{footer :: foot}"></div>

</body>
</html>