<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Join us!</h1>

<form action="#" th:action="@{/join}" th:object="${user}" method="post">
    <label for="login">Login</label>
    <input type="text" th:field="*{login}" id="login" placeholder="Login">
    <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
    <br>
    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password" placeholder="Password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <div th:if="${#fields.hasErrors('global')}">
        <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"></p>
    </div>
    <br>
    <input type="submit" value="Join!">
</form>

<br>
<p><a href="/"><button>Back</button></a></p>

</body>
</html>