<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Sign in as client!</h1>

<form action="#" th:action="@{/sign-in-client}" th:object="${client}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

    <br>
    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="Surname">
    <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>

    <br>

    <label for="email">Email</label>
    <input type="email" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br>

    <label for="phoneNumber">Phone number</label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="Phone number">
    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>

    <br>

    <label for="login">Login</label>
    <input type="text" th:field="*{login}" id="login" placeholder="Login">
    <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
    <br>

    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password" placeholder="Password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <div th:if="${#fields.hasErrors('global')}">
        <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"></p>
    </div>


    <input type="submit" value="Sign in!">
</form>
</body>
</html>